:root {
  --bgcolor: #191B22;
  --postcolor: #606984;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #9FA5B5;
  height: 100vh;
  text-decoration: inherit;
}
nav {
  position: sticky !important;
  top: 0;
  z-index: 2000;
}
.reddead input{
  border: 1px solid red;
}
.reddead textarea{
  border: 1px solid red;
}
.fixer {
  margin-top: 25px;
  margin-bottom: 25px;
}
.remove {
  height: 100px !important;
  text-decoration: none;
  color: black;
}
.remove:hover {
  text-decoration: none;
  color: black;
}
.list-group-item:last-child {
       border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
}
.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.posters:hover {
  border: 1px solid black;
}
::-webkit-input-placeholder {
  text-align: center;
}

.thepost {
  border-bottom: 1px solid #eee;
}
.comments {
  border-left: none;
  border-right: none;
}
.makewhite {
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
}

.google {
  background-color: orange;
}
.profileview {
  display: flex;
  flex-direction: column;
}
.googlebut {
  color: white;
  background-color: #dd4b39;
  height: 100%;
  border:none;
  width: 100%;

}
.googlebut:hover {
 color: white;
 background-color: #dd4b39;
}
.dropwider {
  text-align: center;
  width: 200px;
  left: -75px;
}
.centergoogle {
  margin: auto;
}
.red {
  color: red;
}
.topmodal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: flex;
  background-color: rgba(5, 0, 0, 0.81);
  overflow-y: auto;
}
.modaldiv {
  width: 1450px;
  opacity: 1 !important;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 98%;
}
.modalcontent {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.app {
    width: 90%;
}
.blackbar {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.posts {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
.dropwider {
  background-color: #dd4b39;
}
.postcreator {
  background-color: transparent;
}
